{% load static %}

<div class="container-fluid mt-5">
    <div class="row d-flex align-items-center">
        <div class="col-md-6 text-warning justify-content-center">

            <hr class="col-lg-6 col-xl-8 offset-lg-3 offset-xl-2"
                style="height:5px; color:red; background-color:red">

            <h1 class="text-center display-1">Pyburguer</h1>
            <h1 class="text-center text-danger">Sua fome termina aqui!</h1>

            <hr class="col-lg-6 col-xl-8 offset-lg-3 offset-xl-2 mt-4"
                style="height:5px; color:red; background-color:red">

        </div>
        <div class="col-md-6">
            <img src="{% static 'buguer/burger_slide.png' %}" class="img-fluid">
        </div>
    </div>
</div>