{% load static %}
<div class="row">
    <div class="col">
        <div class="container bg-danger rounded my-4">
            <div class="spam text-white text-center display-4 fw-bold">
                Conheça nossos melhores hamburguers
            </div>
        </div>
    </div>
</div>

<div class="row my-3">
    <div class="col-md-10 offset-1">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for produto in produtos %}
                <div class="col">
                    <div class="card bg-warning p-5" style="height:650px">

                        <a href="{% url 'produtos' produto.id %}">
                            <img src="{{ produto.imagem.url }}" class="card-img-top" alt="hamburguer">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-danger"> {{ produto.nome }}</h5>
                            <p class="card-text"> {{ produto.descricao}} </p>
                        </div>
                      <div class="span display-4 text-end mx-3 text-danger"> R${{produto.preco}} </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>