<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-warning fs-3" href="{% url 'home' %}">Pyburger</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-warning" aria-current="page" href="#">
                        Contato
                        <i class="fa-brands fa-whatsapp text-warning ms-2"></i>
                        <span class="text ms-2 text-warning">9.8754-3265</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <i class="fa-solid fa-location-dot text-warning"></i>
                        <span class="text ms-2 text-warning">Distrito Federal, Brasília.</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-large btn-warning" aria-current="page" href="#">
                        <span class="text">Login</span>
                    </a>
                </li>
                <li class="nav-item mx-lg-2">
                    <a class="btn btn-large btn-warning" aria-current="page" href="#">
                        <span class="text">Cadastre-se</span>
                    </a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>